---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Allman
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: true
SpaceAfterCStyleCast: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
IndentCaseBlocks: true
IndentGotoLabels: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 10
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
ColumnLimit: 120
ReflowComments: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Includes
IncludeCategories:
  - Regex: '^<[^/]+>'
    Priority: 1
    SortPriority: 1
  - Regex: '^<.*/.*>'
    Priority: 2
    SortPriority: 2
  - Regex: '^".*"'
    Priority: 3
    SortPriority: 3

IncludeIsMainRegex: 'absdf'
IncludeBlocks: Merge
SortIncludes: CaseInsensitive


InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
FixNamespaceComments: true
AlignAfterOpenBracket: Align
ContinuationIndentWidth: 4